# Table of Contents
1. [download/read csv file](#sec1)
2. [Convert the labeled data set tags into the new individual tag columns](#sec2)
3. [NLTK STUFF LMAO](#sec3)

In [3]:
#packages
%pip install numpy
%pip install pandas
import numpy as np
import pandas as pd

Requirement already satisfied: numpy in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.26.4)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: C:\Users\jessi\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: C:\Users\jessi\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

<a id = "sec1"></a>
## **Download/Read CSV file**

In [5]:
# read csv
data_path= "https://raw.githubusercontent.com/JL72005/PIT-UN-Project4/refs/heads/main/MODIFIED_dc_md_va_flash_floods_1996_pres.csv?token=GHSAT0AAAAAADCLZGCQLZ3HT2MKGULJWVAQ2B7HCLA"
df = pd.read_csv(data_path)

<a id = "sec2"></a>
## **Convert the labeled data set tags into the new individual tag columns**

In [25]:
#list of tags
tag_names = ['death','injury','evacuation','rescue','car_crash','home_damage','infrastructure_damage','school_damage','hospital_damage','road_closure','power_outage','tree_damage','vehicle_loss','agricultural_damage','campground_damage']
#list of weather events
weather_names = ['thunderstorm','hurricane','tornado','lightning','mudslide']

In [ ]:
#populate columns for OG tags
for tag in tag_names:
    df[tag] = df['IMPACT_PREDICTORS'].apply(str).apply(lambda x: 1 if tag in x else 0)
for tag in weather_names:
    df[tag] = df['IMPACT_PREDICTORS'].apply(str).apply(lambda x: 1 if tag in x else 0)

df[tag_names].head()

,death,injury,evacuation,rescue,car_crash,home_damage,infrastructure_damage,school_damage,hospital_damage,road_closure,power_outage,tree_damage,vehicle_loss,agricultural_damage,campground_damage
0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,1,1,1,0,0
3,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0
4,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0

In [8]:
#check columns
df[['death','injury','evacuation','rescue','car_crash','home_damage','infrastructure_damage','school_damage','hospital_damage','road_closure','power_outage','tree_damage']].head()

,death,injury,evacuation,rescue,car_crash,home_damage,infrastructure_damage,school_damage,hospital_damage,road_closure,power_outage,tree_damage
0,0,0,0,0,0,1,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,1,1,1
3,0,0,0,0,0,0,0,0,0,1,1,0
4,0,0,0,0,0,0,1,0,0,1,0,0

<a id="sec3"></a>
## **NLTK STUFF LMAO**

### Stemming

In [16]:
#imports
%pip install nltk
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer

Requirement already satisfied: nltk in c:\users\emmab\appdata\local\programs\python\python310\lib\site-packages (3.9.1)
Requirement already satisfied: tqdm in c:\users\emmab\appdata\local\programs\python\python310\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: click in c:\users\emmab\appdata\local\programs\python\python310\lib\site-packages (from nltk) (8.2.1)
Requirement already satisfied: joblib in c:\users\emmab\appdata\local\programs\python\python310\lib\site-packages (from nltk) (1.5.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\emmab\appdata\local\programs\python\python310\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: colorama in c:\users\emmab\appdata\roaming\python\python310\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
# TOKENIZATION & REMOVING STOP WRODS

#download necessary NLTK data
nltk.download('punkt_tab')
nltk.download('stopwords')
#download stopwords
stop_words = set(stopwords.words('english'))

def remove_stopword(text):
  tk = RegexpTokenizer(r'\w+')
  word_tokens = tk.tokenize(text)
  filtered_sentence = [w for w in word_tokens if not w.lower() in stop_words]
  filtered_text = " ".join(filtered_sentence)
  return filtered_text

df['TOKEN_EPISODE_NARRATIVE'] = df['EPISODE_NARRATIVE'].apply(str).apply(remove_stopword)
df['TOKEN_EVENT_NARRATIVE'] = df['EVENT_NARRATIVE'].apply(str).apply(remove_stopword)
df[['TOKEN_EPISODE_NARRATIVE', 'TOKEN_EVENT_NARRATIVE']].head()

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\emmab\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\emmab\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                             TOKEN_EPISODE_NARRATIVE TOKEN_EVENT_NARRATIVE
0  unusually intense squall line feeding unseason...                   nan
1  Intense thunderstorms moved northeast half Was...                   nan
2  rapidly developing thunderstorm knocked numero...                   nan
3  Feeder bands torrential tropical rains associa...                   nan
4  Several roads briefly closed torrential rains ...                   nan

In [ ]:
# STEMMING

stemmer = PorterStemmer()

def stem_narrative(text):
    token_list = text.split(" ")
    stemmed_list = []
    for word in token_list:
        stemmed_list.append(stemmer.stem(word))
    return stemmed_list

df['STEM_EPISODE_NARRATIVE'] = df['TOKEN_EPISODE_NARRATIVE'].apply(str).apply(stem_narrative)
df['STEM_EVENT_NARRATIVE'] = df['TOKEN_EVENT_NARRATIVE'].apply(str).apply(stem_narrative)

df['STEM_EPISODE_NARRATIVE'].head()

0    [unusu, intens, squall, line, feed, unseason, ...
1    [intens, thunderstorm, move, northeast, half, ...
2    [rapidli, develop, thunderstorm, knock, numer,...
3    [feeder, band, torrenti, tropic, rain, associ,...
4    [sever, road, briefli, close, torrenti, rain, ...
Name: STEM_EPISODE_NARRATIVE, dtype: object